@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
@* @{
    string color = "";
} *@

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gelen Kutusu 📩</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>Gönderen</th>
              
                            <th>Detaylar</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                           @*  if (item.WriterMessageID == "Eğitim Duyurusu") color = "badge badge-danger";
                            if (item.WriterMessageID == "Kariyer Fırsatları") color = "badge badge-success";
                            if (item.WriterMessageID == "Araç ve Kütüphane") color = "badge badge-info";
                            if (item.WriterMessageID == "Güvenlik Duyurusu") color = "badge badge-warning";
                            if (item.WriterMessageID == "Framework Tanıtımı") color = "badge badge-dark";
                            if (item.WriterMessageID == "Kamp Duyurusu") color = "badge badge-warning"; *@
                            <tr>     
                                <th>@item.WriterMessageID</th>
                                <td>@item.Subject</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                     
                                <td><a href="/Writer/Default/AnnouncementDetails/@item.WriterMessageID" class="btn btn-outline-primary">Mesajı Gör</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

